<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lalithanjali.minitalk">

    <!-- Required Permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="MiniTalk"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartPage"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".Categories" />
        <activity android:name=".Audio" />
        <activity android:name=".Main4Activity" />
        <activity android:name=".Education" />
        <activity android:name=".Politics" />
        <activity android:name=".Sports" />
        <activity android:name=".GeneralKnowledge" />
        <activity android:name=".Relations" />
        <activity android:name=".Festivals" />
        <activity android:name=".listview" />
        <activity android:name=".list1" />
        <activity android:name=".home" />
        <activity android:name=".Politics1" />
        <activity android:name=".Relations1" />
        <activity android:name=".Education1" />
        <activity android:name=".ScienceAndEnvironment1" />
        <activity android:name=".main" />
        <activity android:name=".main3" />
        <activity android:name=".main2" />
        <activity android:name=".mainpage2" />
        <activity android:name=".mainPage" />
        <activity android:name=".recordpage" />
        <activity android:name=".trial" />
        <activity android:name=".demo" />
        <activity android:name=".education2" />
        <activity android:name=".categories2" />
        <activity android:name=".demo1" />
        <activity android:name=".resultPage"></activity>
    </application>

</manifest>